In [146]:
!pip install sklearn

Requirement already satisfied: sklearn in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (0.0.post4)

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
pd.set_option("display.max_rows", 600)
from pathlib import Path  
import glob

In [148]:
directory_path = "."

In [149]:
text_files = sorted(glob.glob(f"{directory_path}/*.txt"))

In [150]:
text_files

['./week1_tokenized.txt',
 './week2_tokenized.txt',
 './week3_tokenized.txt',
 './week4_tokenized.txt',
 './week5_tokenized.txt',
 './week6_tokenized.txt',
 './week7_tokenized.txt',
 './week8_tokenized.txt']

In [151]:
text_titles = [Path(text).stem for text in text_files]

In [152]:
text_titles

['week1_tokenized',
 'week2_tokenized',
 'week3_tokenized',
 'week4_tokenized',
 'week5_tokenized',
 'week6_tokenized',
 'week7_tokenized',
 'week8_tokenized']

In [153]:
tfidf_vectorizer = TfidfVectorizer(input='filename')

In [154]:
tfidf_vector = tfidf_vectorizer.fit_transform(text_files)

In [155]:
tfidf_df = pd.DataFrame(tfidf_vector.toarray(), index=text_titles, columns=tfidf_vectorizer.get_feature_names_out())

In [156]:
tfidf_df

,ªª,ª½,ªà,ªå,ªæ,ªç,ªè,ªñ,²²,²³,...,勇熊,勇猛,勇直,勇絕,勇退,勇野,勇闖,吆原,晉少,貫家
week1_tokenized,0.000000,0.000044,0.000000,0.000066,0.000066,0.000044,0.000022,0.000000,0.000000,0.000022,...,0.000000,0.000000,0.000012,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
week2_tokenized,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000012,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
week3_tokenized,0.000021,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000013,0.000000,0.000000,...,0.000000,0.000021,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
week4_tokenized,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000009,0.00000,0.000016,0.000000,0.00000,0.000000,0.000016,0.000016
week5_tokenized,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000021,0.000000,0.000012,0.00000,0.000000,0.000000,0.00000,0.000021,0.000000,0.000000
week6_tokenized,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000013,0.000000,0.000000,...,0.000000,0.000000,0.000011,0.00002,0.000000,0.000000,0.00002,0.000000,0.000000,0.000000
week7_tokenized,0.000000,0.000000,0.000019,0.000000,0.000000,0.000000,0.000000,0.000012,0.000038,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000019,0.00000,0.000000,0.000000,0.000000
week8_tokenized,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000015,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000

Add column for document frequency aka number of times word appears in all documents

In [142]:
tfidf_df1 = tfidf_df.stack().reset_index()

In [133]:
tfidf_df2 = tfidf_df.rename(columns={0:'tfidf', 'level_0': 'document','level_1': 'term'})

In [141]:
tfidf_df2

          document     term            tfidf
0                0  level_0  week1_tokenized
1                0  level_1               ªª
2                0        0              0.0
3                1  level_0  week1_tokenized
4                1  level_1               ª½
...            ...      ...              ...
84700651  28233550  level_1               晉少
84700652  28233550        0              0.0
84700653  28233551  level_0  week8_tokenized
84700654  28233551  level_1               貫家
84700655  28233551        0              0.0

[84700656 rows x 3 columns]

To find out the top 10 words with the highest tf–idf for every story, we're going to sort by document and tfidf score and then groupby document and take the first 10 values.

In [145]:
top_tfidf = tfidf_df2.sort_values(by=['document','tfidf'], ascending=[True,False]).groupby(['document']).head(200)

KeyError: 'document'

In [ ]:
top_tfidf

We can zoom in on particular words and particular documents.

In [144]:
top_tfidf[top_tfidf['term'].str.contains('政府')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

It turns out that the term "women" is very distinctive in Obama's Inaugural Address.

In [140]:
top_tfidf[top_tfidf['document'].str.contains('obama')]

AttributeError: Can only use .str accessor with string values!

## Visualize TF-IDF

In [98]:
!pip3 install altair

Requirement already satisfied: altair in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (4.2.2)
Requirement already satisfied: entrypoints in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from altair) (0.4)
Requirement already satisfied: jsonschema>=3.0 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from altair) (4.16.0)
Requirement already satisfied: toolz in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from altair) (0.11.2)
Requirement already satisfied: pandas>=0.18 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from altair) (1.4.4)
Requirement already satisfied: numpy in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from altair) (1.21.5)
Requirement already satisfied: jinja2 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from altair) (2.11.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2022.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: six>=1.5 in /Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)

Let's make a heatmap that shows the highest TF-IDF scoring words for each president, and let's put a red dot next to two terms of interest: "war" and "peace":

The code below was contributed by [Eric Monson](https://github.com/emonson). Thanks, Eric!

In [138]:
top_tfidf = top_tfidf[top_tfidf["document"] != 'week9_tokenized']

In [139]:
import altair as alt
import numpy as np

# Terms in this list will get a red dot in the visualization
term_list = []

# adding a little randomness to break ties in term ranking
top_tfidf_plusRand = top_tfidf.copy()
top_tfidf_plusRand['tfidf'] = top_tfidf_plusRand['tfidf'] + np.random.rand(top_tfidf.shape[0])*0.0001

# base for all visualizations, with rank calculation
base = alt.Chart(top_tfidf_plusRand).encode(
    x = 'rank:O',
    y = 'document:N'
).transform_window(
    rank = "rank()",
    sort = [alt.SortField("tfidf", order="descending")],
    groupby = ["document"],
)

# heatmap specification
heatmap = base.mark_rect().encode(
    color = 'tfidf:Q'
)

# red circle over terms in above list
circle = base.mark_circle(size=100).encode(
    color = alt.condition(
        alt.FieldOneOfPredicate(field='term', oneOf=term_list),
        alt.value('red'),
        alt.value('#FFFFFF00')        
    )
)

# text labels, white for darker heatmap colors
text = base.mark_text(baseline='middle').encode(
    text = 'term:N',
    color = alt.condition(alt.datum.tfidf >= 0.23, alt.value('white'), alt.value('black'))
)

# display the three superimposed visualizations
(heatmap + circle + text).properties(width = 6000)

TypeError: can only concatenate str (not "float") to str

In [109]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

mylist = text_files
df = pd.DataFrame({"texts": mylist})
tfidf_vectorizer = TfidfVectorizer(ngram_range=[1, 1])
tfidf_separate = tfidf_vectorizer.fit_transform(df["texts"])

df_tfidf = pd.DataFrame(
    tfidf_separate.toarray(), columns=tfidf_vectorizer.get_feature_names(), index=df.index
)
df_tfidf

/Users/qiaoyu/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,txt,week1_tokenized,week2_tokenized,week3_tokenized,week4_tokenized,week5_tokenized,week6_tokenized,week7_tokenized,week8_tokenized,week9_tokenized
0,0.357847,0.93378,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,0.357847,0.00000,0.93378,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,0.357847,0.00000,0.00000,0.93378,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,0.357847,0.00000,0.00000,0.00000,0.93378,0.00000,0.00000,0.00000,0.00000,0.00000
4,0.357847,0.00000,0.00000,0.00000,0.00000,0.93378,0.00000,0.00000,0.00000,0.00000
5,0.357847,0.00000,0.00000,0.00000,0.00000,0.00000,0.93378,0.00000,0.00000,0.00000
6,0.357847,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.93378,0.00000,0.00000
7,0.357847,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.93378,0.00000
8,0.357847,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.93378